.container{
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    width: 340px;
}

.content div{
    color: white;
    height: 100px;
    width: 100px;
    background-color: gray;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    margin: 5px;
}