html{
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    font-size: 20px;

    background: linear-gradient(to left, purple, blue, aqua);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#text{
    background: linear-gradient(#ac04ac, #00006c);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}